<!DOCTYPE html>
<html>
    <head>
	    <title>G</title>
        <script type="text/javascript" src="g.js"></script>
    </head>
    <body>
	    <div id="idecko">id</div>
        <div class="classa">id</div>
        <div id="rodic">
            <div class="aaa"></div>
            <div class="aaa">
            <ul>
				<li></li>
				<li class="temno">temno vnutorne</li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<div class="aaa"></div>
	</div>
	<div class="temno">temno vonkajsie</div>
</body>
</html>
