*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.context-menu {
	display: none;
	position: absolute;
	z-index: 10;


	color: #595959;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}

.context-menu ul{
	position: absolute;
	background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
    padding: 12px 0;
    width: 240px;

	list-style: none;
}
.context-menu ul ul{
	display: none;
	position: absolute;

	left: 100%;
	top: -12px;
}
.context-menu li:hover ul{
	display: block;
}
.context-menu li{
	position:relative;
    display: block;
    margin-bottom: 4px;
}
.context-menu a{
	display: block;
    padding: 4px 12px;
    color: #0066aa;
    text-decoration: none;
}

.context-menu li:hover > a{
    color: #fff;
    background-color: #0066aa;
}

.context-menu.active {
	display: block;
}

#contextMenuHolder{
	position: absolute;
	width: 400px;
	height: 400px;
}